src/main/app/string1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="string_exFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/demo" doc:name="HTTP"/>
        <set-variable variableName="var" value="revathi_001.txt" doc:name="Variable"/>
        <set-property propertyName="filename" value="#[flowVars.var]" doc:name="Property"/>
        <logger message="#[message.outboundProperties.filename]" level="INFO" doc:name="Logger"/>
        <expression-component doc:name="Expression"><![CDATA[flowVars.var=flowVars.var.substring(0, flowVars.var.length()-4)+ '_' + server.dateTime.format('yyyy-MM-ddHH:mm:ss') + '.txt' ;
]]></expression-component>
        <file:outbound-endpoint path="C:\Users\revathisailakshmi.y\Desktop\output" outputPattern="#[message.outboundProperties.filename]" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
